:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #e0e0e0;
  background-color: #e4e4e4;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
  background: #121212;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
  color: #ffffff;
  margin-bottom: 1rem;
}

form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

input[type="text"] {
  flex-grow: 1;
  padding: 0.8rem;
  border: 1px solid #555555;
  border-radius: 6px;
  outline: none;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

input[type="text"]:focus {
  border-color: #646cff;
}

.add {
  padding: 0.8rem 1rem;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add:hover {
  background-color: #535bf2;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.todoContainer::-webkit-scrollbar {
  width: 8px;
}

.todoContainer::-webkit-scrollbar-thumb {
  background: #646cff;
  border-radius: 4px;
}

.todoContainer::-webkit-scrollbar-thumb:hover {
  background: #535bf2;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: #1c1c1c;
  border-radius: 6px;
}

.todo p {
  flex-grow: 1;
  margin: 0 1rem;
  color: #e0e0e0;
}

.isCompleted {
  margin-right: 1rem;
}

.deleteBtn,
.editBtn {
  padding: 0.5rem 1rem;
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background-color 0.3s;
}

.deleteBtn:hover {
  background-color: #c92336;
}

.editBtn {
  background-color: #38bdf8;
}

.editBtn:hover {
  background-color: #1d4ed8;
}

.textCut {
  text-decoration: line-through;
  color: #888888;
}
